#service1 {
  color: #791823;
}

#service2 {
  color: #c82538;
}

#service3 {
  color: #b13433;
}

#service4 {
  color: #8d472b;
}

#service5 {
  color: #da7d04;
}

#service6 {
  color: #ad9f42;
}

#service7 {
  color: #45731e;
}

#service8 {
  color: #2e7f18;
}

#service9 {
  color: #28b800;
}

#service10 {
  color: #37ff00;
}
